:root {
  --black-color: #333333;
  --light-grey: #E9ECEF;
  --grey-color: #f5f7fa;
  --white-color: #FDFDFD;
  --primary-color: #E31F24;
  --warning-color: #F4C51D;
  --info-color: #1E3AF5;
  --success-color: #467E0D;
  --dark-grey-color: #76787D;
  --sky-blue: #F0F6FE;
  --border-color: #e0e0e0;
}
